*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html {
  position:relative;
  min-height: 100%;
  height:inherit;
}

body {
  padding:0px;
  margin:0px;
  margin-bottom:180px;
}
header {
    background-image: url("/media/gunrock_banner.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    .header_contents {
        @include boundary;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
}

.main {
    margin:2% 0%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top:60px;
    padding-bottom:60px;
    height: 180px;
    display:block;
    .footer_contents {
        @include boundary;
        .foot_top {
            border-bottom: 1px solid $borders;
            padding-bottom: 4px;
            margin-bottom: 8px;
        }
    }
}
