.banner {
    background-color: $secondary-color;
    padding: 2% 0;
    background-image: url("/media/commence_blur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px;
    &.banner--register {
      background-image: url("/media/register_bg.jpg");
    }
    .banner_contents {
        @include container;
        text-align:center;
        padding-top:3%;
    }
}
.lead {
  background-color:$bg-color;
  padding:1.5% 0px 2% 0px;
  border-bottom:1px solid $borders;
  .lead_contents {
    text-align: center;
    max-width:500px;
    margin:0 auto;
    h3 {
      font-size:2.6rem;
    }
    p {
      font-size:1.8rem;
    }
  }
}
.instructions {
  -webkit-columns: 2;
   -moz-columns: 2;
        columns: 2;
        -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.studentbar {
  background-color:$blue;
  padding:10px 0px;
  .studentbar__contents {
    display:flex;
    justify-content: space-between;
    @include container;
    p {
      color:#fff;
    }
  }
}
.progressbar {
  background-color:$bg-color;
  padding:2% 0px;
  border-bottom:1px solid $borders;
  .progressbar__contents {
    @include container;
  }
}
.register  {
  margin-top:40px;
  .register__section {
    margin-top:10px;
    padding-bottom:75px;
    margin-bottom:45px;
    border-bottom:1px solid $borders;
  &:last-child {
    border-bottom:0px solid $borders;
  }
  }
}
.ceremony {
  border:1px solid $borders;
  h2 {
    color:#fff;
    font-weight:600;
    font-size:1.6rem;
    background-color:$blue;
    margin-top:0px;
    padding-left:15px;
    padding-top:8px;
    padding-bottom:4px;
    margin:-1px;
  }
  table {
    tr {
      td {
        font-size:1.6rem;
        &:first-child {
          padding-right:30px;
        }
      }
    }
  }

  .ceremony__wrapper {
    padding:15px;
  }
}
.checkbox__wrapper {
  background-color:$secondary-bg;
  padding:15px;
  font-size:1.6rem;
  font-family: $sans-serif;
}
